certbot==1.21.0
certbot-apache==1.21.0
certbot-nginx==1.21.0
certifi==2020.6.20
elastic-transport==8.13.1
elasticsearch==8.14.0
Flask==2.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
python-apt==2.4.0+ubuntu3
python-augeas==0.5.0
python-dateutil==2.8.1
python-engineio==4.9.1
python-socketio==5.11.3
Werkzeug==2.0.3

